div.profile-page{
    background-color: #52b788;
}

.profile-post-create{
    padding: 1rem 1.5rem;
    width: 55%;
    background-color: #fff;
    margin-top: 1rem;
  }

div.my-post{ 
    color: #fff;
    font-size: 2rem;
}