a{
    text-decoration: none;
    color: inherit;
    list-style: none;
}


.nav-bar{
    display: flex;
    list-style: none;
    margin-top: 1rem;
}

.home-page-navBar, .logoutBtn{
    margin: 0 0.5rem;
    font-size: 1.2rem;
}


.home-page-header{
    display: flex;
    justify-content: space-between;
}

div.home-second-child{
    display: flex;
    align-items: center;
}

