a{
    text-decoration: none;
    color: inherit;
    list-style: none;
}

body{
    background-color: #52b788;
}
/* home page nav bar  */

.nav-bar{
    display: flex;
    list-style: none;
    margin-top: 1rem;
}

.home-page-navBar, .logoutBtn{
    margin: 0 0.5rem;
    font-size: 1.2rem;
}


.home-page-header{
    display: flex;
    justify-content: space-between;
    background-color: #b7e4c7;
}

div.home-second-child{
    display: flex;
    align-items: center;
}

div.login-person-name{
    font-size: 1.5rem;
}

/* splash screen styles */

div.screen{
    display: flex;
    justify-content: center;
    align-items: center;

}
.splashScreen{
    height: 100vh; 
}